.container {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.container .image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 63px;
  width: 84px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  margin: 0 10px 0 16px;
}

.details {
  box-shadow: 1px 1px 5px -3px var(--color-text-contrast);
  border-radius: 10px;
  margin-left: 20px;
  width: 100%;
  position: relative;
}

.details .square {
  width: 18px;
  height: 18px;
  top: 18px;
  left: -9px;
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-primary);
}

.details .titleContainer {
  background-color: var(--color-primary);
  border-radius: 8px 8px 0 0;
  padding: 15px 5px 15px 20px;
  overflow: hidden;
}

.details .titleContainer h2 {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 24px;
}

.details .titleContainer p {
  display: none;
}

.details .textArea {
  background-color: var(--color-object-background);
  width: 100%;
  padding: 10px 12px 5px 15px;
  border-radius: 0 0 10px 10px;
  overflow: auto;
}

.details .textArea p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  white-space: pre-wrap;
}

.details .textArea .reactions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (min-width: 600px) {
  .container .image {
    width: 76px;
    margin-left: 30px;
    margin-right: 20px;
  }
}

@media (min-width: 900px) {
  .container .image {
    width: 74px;
  }
}

@media (min-width: 1200px) {
  .container .image {
    width: 72px;
  }
}


@media (min-width: 1200px) {
  .container .image {
    width: 70px;
  }
}