.reactions {
  display: flex;
  margin: 10px 0 0;
  height: 20px;
}

.reactions .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-text-contrast-secondary);
  margin-right: 6px;
  transition: 200ms;
}

.reactions .actions:hover {
  color: var(--color-primary-lighter);
}

.reactions .actions p {
  padding-left: 2px;
  font-size: 16px;
  margin: 0;
}

.reactions .unlike {
  color: var(--color-primary);
}

.reactions .comments {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-top: 1px;
  cursor: pointer;
  color: var(--color-text-contrast-secondary);
  transition: 200ms;
}

.reactions .comments:hover {
  color: var(--color-primary-lighter);
}

.reactions .comments p {
  font-size: 16px;
  padding-left: 3px;
  padding-bottom: 1px;
  margin: 0;
}

@media (min-width: 700px) {
  .reactions .actions {
    font-size: 20px;
    margin-right: 13px;
  }

  .reactions .actions p {
    font-size: 18px;
  }
  
  .reactions .comments {
    font-size: 16px;
  }

  .reactions .comments p {
    font-size: 18px;
  }
}