.bubbleContainer {
  width: 98%;
  min-width: 300px;
  height: 190px;
  background-color: var(--color-object-background);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  transition: 200ms;
  margin: 5px 0 20px 8px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.bubbleContainer:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.image {
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-object-background);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  margin-right: 40px;
  margin-top: 5px;
}

.textContent {
  width: 100%;
}

.textContent .title {
  display: flex;
  justify-content: space-between;
}

.textContent .title h2 {
  color: var(--color-text-contrast);
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.textContent .title p {
  opacity: 0;
}

.textContent .description {
  overflow: scroll;
  width: 100%;
  height: 38%;
}

.textContent .description::-webkit-scrollbar-track {
  background-color: var(--color-text-primary);
}

.textContent .description::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

.textContent .description::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 15px;
}

.textContent .description p {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 0;
  color: var(--color-text-contrast-secondary);
}

.textContent .date {
  text-align: right;
  font-size: 10px;
  color: var(--color-text-secondary);
  margin: 10px 0 5px;
}

@media (min-width: 900px) {
  .bubbleContainer {
    padding: 5px 20px;
    max-height: 220px;
  }

  .image {
    height: 55px;
  }
  
  .textContent .title h2 {
    font-size: 28px;
  }
  
  .textContent .title p {
    opacity: 1;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--color-brown);
    color: var(--color-text-primary);
    width: 120px;
    height: 22px;
    padding-top: 3px;
    text-align: center;
    border-radius: 30px;
  }

  .textContent .description {
    height: 48%;
  }

  .textContent .description p {
    font-size: 16px;
    line-height: 26px;
  }

  .textContent .date {
    font-size: 12px;
  }
}