.bubbleContainer {
  width: 96%;
  background-color: var(--color-object-background);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  transition: 200ms;
  margin: 5px 0 20px 8px;
}

.bubbleContainer:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.image {
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  margin-right: 40px;
  margin-top: 10px;
}

.textContent {
  width: 100%;
}

.textContent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

.textContent .title h2 {
  color: var(--color-text-contrast);
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.textContent .title .labels {
  display: none;
}

.textContent .description {
  width: 100%;
}

.textContent .description::-webkit-scrollbar-track {
  background-color: var(--color-text-primary);
}

.textContent .description::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

.textContent .description::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 15px;
}

.textContent .description p {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  margin-top: 0;
  color: var(--color-text-contrast-secondary);
}

.textContent .date {
  text-align: right;
  font-size: 10px;
  color: var(--color-text-secondary);
  margin: 0;
}

@media (min-width: 900px) {
  .bubbleContainer {
    padding: 5px 20px;
  }

  .image {
    height: 55px;
  }
  
  .textContent .title h2 {
    font-size: 30px;
    width: 50%
  }

  .textContent .title .labels {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  
  .textContent .title .labels p {
    font-size: 12px;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    width: 115px;
    height: 20px;
    padding-top: 4px;
    text-align: center;
    border-radius: 30px;
    margin-left: 20px;
  }

  .textContent .description p {
    font-size: 16px;
    line-height: 26px;
  }

  .textContent .date {
    font-size: 12px;
    margin: 0;
  }
}