.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.detailsContent {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.detailsContent::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 15px;
  margin-top: 20px;
}

.detailsContent::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  background: #F4F4F4;
}

.detailsContent::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 15px;
}

.detailsContent .newComment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.buttonBox {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.buttonBox button {
  width: 150px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  transition: 200ms;
  cursor: pointer;
  margin-right: 6px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.buttonBox button:focus {
  outline: none;
}

.buttonBox button:hover {
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

.labelsContent {
  display: none;
  padding-top: 20px;
}

@media (min-width: 600px) {
  .buttonBox button {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .detailsPage .square {
    width: 25px;
    height: 25px;
    top: 33px;
    left: 120px;
  }

  .detailsContent .newComment {
    padding-left: 0;
  }

  .labelsContent {
    width: 30%;
    display: flex;
  }
}

@media (min-width: 1100px) {
  .labelsContent {
    width: 25%;
  }
}