.newBubblePage {
  display: flex;
  
  width: 95%;
  margin-left: 4%;

  position: relative;
}

.newBubblePage img {
  display: none;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  margin: 0 10px 0 10px;
}

.newBubblePage .square {
  display: none;
  width: 20px;
  height: 20px;
  top: 35px;
  left: 65px;
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-primary);
}

.newBubblePage .newBubbleDetails {
  border: 1px solid #707070;
  border-radius: 10px;
  width: 100%;
}

.newBubblePage .newBubbleDetails .titleContainer {
  background-color: var(--color-primary);
  border-radius: 8px 8px 0 0;
  padding: 15px 25px 5px;
  height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.newBubblePage .newBubbleDetails .titleContainer input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-size: 26px;
}

.newBubblePage .newBubbleDetails .titleContainer input:focus {
  outline: none;
}

.newBubblePage .newBubbleDetails .titleContainer input::-webkit-input-placeholder {
  color: var(--color-text-primary);
  font-size: 26px;
}

.newBubblePage .newBubbleDetails .titleContainer input + input {
  font-size: 18px;
  color: var(--color-text-primary-grey);
}

.newBubblePage .newBubbleDetails .titleContainer input + input::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--color-text-primary-grey);
}

.newBubblePage .newBubbleDetails .textContent {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px;
  background-color: var(--color-object-background);
  border-radius: 0 0 10px 10px;
}

.newBubblePage .newBubbleDetails .textContent .typeText p {
  background-color: var(--color-background);
  margin: 0;
  padding-top: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.newBubblePage .newBubbleDetails .textContent .textArea {
  background-color: var(--color-background);
  overflow: auto;
  width: 100%;
  height: 250px;
  padding: 20px 30px;
  border-radius: 0 8px 8px 8px;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  resize: none;
  font-family: Roboto;
}

.newBubblePage .newBubbleDetails .textContent .textArea:focus {
  outline: none;
}

.newBubblePage .newBubbleDetails .textContent .textArea::-webkit-scrollbar-track {
  background-color: var(--color-text-primary);
  border-radius: 15px;
}

.newBubblePage .newBubbleDetails .textContent .textArea::-webkit-scrollbar {
  width: 6px;
  border-radius: 15px;
  background: #F4F4F4;
}

.newBubblePage .newBubbleDetails .textContent .textArea::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 15px;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent {
  display: flex;
  justify-content: flex-end;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent button {
  width: 150px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  transition: 200ms;
  cursor: pointer;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent button:focus {
  outline: none;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent .submit {
  background-color: var(--color-object-background);
  color: var(--color-primary);
  position: relative;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent .submit::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 6px;
  left: 8px;
  transition: 300ms ease;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent .submit:hover::after {
  width: 134px;
  transition: 300ms ease;
}

.newBubblePage .newBubbleDetails .textContent .buttonContent button + button {
  margin-left: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.newBubblePage .newBubbleDetails .textContent .buttonContent button + button:hover {
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

@media (min-width: 600px) {
  .newBubblePage .newBubbleDetails .textContent .buttonContent button {
    width: 200px;
    height: 40px;
    font-size: 16px;
  }

  .newBubblePage .newBubbleDetails .textContent .buttonContent .submit::after {
    left: 24px;
  }

  .newBubblePage .newBubbleDetails .textContent .buttonContent .submit:hover::after {
    width: 152px;
  }
}

@media (min-width: 900px) {
  .newBubblePage {
    display: flex;
    
    width: 85%;
    height: 100%;
    padding-top: 20px;
  
    position: relative;
  }


  .newBubblePage img {
    display: inline-block;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    margin: 5px 30px 0 20px;
  }

  .newBubblePage .square {
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 53px;
    left: 120px;
    transform: rotate(45deg);
    position: absolute;
    background-color: var(--color-primary);
  }

  .newBubblePage .newBubbleDetails {
    height: 500px;
  }

  .newBubblePage .newBubbleDetails .titleContainer {
    height: 100px;
    padding: 10px 20px 5px;
  }

  .newBubblePage .newBubbleDetails .titleContainer input {
    height: 40px;
    font-size: 30px;
  }

  .newBubblePage .newBubbleDetails .titleContainer input::-webkit-input-placeholder {
    font-size: 30px;
  }

  .newBubblePage .newBubbleDetails .titleContainer input + input {
    font-size: 20px;
  }

  .newBubblePage .newBubbleDetails .titleContainer input + input::-webkit-input-placeholder {
    font-size: 20px;
  }

  .newBubblePage .newBubbleDetails .textContent {
    padding: 10px 20px 10px;
  }

  .newBubblePage .newBubbleDetails .textContent .textArea {
    height: 288px;
    font-size: 20px;
  }
}