.bubbleContainer {
  width: 96%;
  height: 96%;
  background-color: var(--color-object-background);
  box-shadow: 1px 1px 5px -3px var(--color-text-contrast);
  border-radius: 10px;
  padding: 5px 15px 0 0;
  display: flex;
  transition: 200ms;
  margin: 5px 0 20px 8px;
}

.bubbleContainer:hover {
  box-shadow: 1px 1px 6px -2px var(--color-text-contrast);
  cursor: pointer;
}

.bubbleContainer .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 60px;
  margin: 10px 15px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.textContent {
  width: 100%;
  margin-left: 10px;
}

.textContent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContent .title h2 {
  color: var(--color-text-contrast);
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.textContent .title .labels {
  display: none;
  transition: 300ms;
}

.textContent .title .labels p:hover {
  opacity: 0.7;
}

.textContent .description {
  width: 100%;
}

.textContent .description p {
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  color: var(--color-text-contrast-secondary);
}

.textContent .reactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.champions {
  margin-left: -70px;
  margin-right: auto;
  color:var(--color-text-contrast);
  display: flex;
  align-items: center;
}

.championsImages {
  display: flex;
  margin-left: 5px;
  align-items: center;
  flex-direction: row-reverse;
}

.championsImages:hover > .imagesChampions:not(:last-child) {
  transform: translateX(20px);
  margin: 5px;
}

.championsImages > .imagesChampions:not(:last-child) {
  transition: 1s ease-in-out;
}

.imagesChampions {
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-right: -20px; /* Aproximar as imagens */
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.textContent .reactions .date {
  font-size: 11px;
  color: var(--color-text-contrast-secondary);
  padding-top: 5px;
  margin: 0 0 3px;
}

@media (min-width: 600px) {
  .bubbleContainer .image {
    width: 57px;
  }
}

@media (min-width: 900px) {
  .bubbleContainer {
    padding: 5px 20px;
  }

  .bubbleContainer .image {
    width: 56px;
    margin: 15px 15px 0 0;
  }
  
  .textContent .title h2 {
    font-size: 30px;
    width: 50%
  }

  .textContent .title .labels {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  
  .textContent .title .labels p {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-text-primary);
    width: 115px;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    border-radius: 30px;
    margin-left: 20px;
    transition: 300ms;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }

  .textContent .description p {
    font-size: 16px;
    line-height: 26px;
  }

  .textContent .reactions .date {
    font-size: 14px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .bubbleContainer .image {
    width: 54px;
  }
}

@media (min-width: 1200px) {
  .bubbleContainer .image {
    width: 52px;
  }
}