.modalOverlay {
  z-index: 999;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  z-index: 1000;
  background-color: var(--color-background);
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  overflow: auto;
  position: relative;
  border-radius: 10px;
}

.modal .closeModal {
  color: var(--color-text-primary);
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  right: 13px;
  top: -10px;
  transition: 300ms;
}

.modal .closeModal:hover {
  color: var(--color-text-secondary);
}

.modalContainer {
  position: absolute;
  height: 95%;
  width: 100%;
  padding: 0 10px 0 0;
  top: 20px;
}

@media (min-width: 900px) {
  .modal {
    border-radius: 50px;
  }

  .modal .closeModal {
    top: 0;
    right: 30px;
  }
}