.configLabelContent {
  display: flex;
  flex-direction: column;

  width: 280px;
  height: 340px;

  position: absolute;
  background-color: var(--color-background);
  border-radius: 5px;

  right: 0;
  top: 50px;

  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.7);
}

.configLabelContent .square {
  width: 15px;
  height: 15px;
  bottom: 333px;
  right: 30%;
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-object-background);
}

.configLabelContent .title {
  width: 100%;
  height: 25px;
  background-color: var(--color-object-background);
}

.configLabelContent .title p {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-primary);
  margin: 5px;
  text-align: left;
}

.configLabelContent .labelsContent {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.configLabelContent .labelsContent::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 15px;
}

.configLabelContent .labelsContent::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  background-color: var(--color-background);
}

.configLabelContent .labelsContent::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 15px;
}

.configLabelContent .labelsContent .label {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: var(--color-object-background);
  width: 99%;
  min-height: 70px;
  margin: 2px 0 0;
  padding: 5px 10px;
  cursor: pointer;
}

.configLabelContent .labelsContent .label .selectedLabel {
  width: 15%;
}

.configLabelContent .labelsContent .label .selectedLabel p {
  margin: 8px 0 0 8px;
  transform: rotate(40deg);
  font-size: 28px;
  color: var(--color-primary);
}

.configLabelContent .labelsContent .label .unselectedLabel {
  width: 15%;
}

.configLabelContent .labelsContent .label .unselectedLabel p {
  display: none;
}


.configLabelContent .labelsContent .label .labelDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.configLabelContent .labelsContent .label .labelDetails .labelName {
  display: flex;
  align-items: center;
  width: 100%;
}

.configLabelContent .labelsContent .label .labelDetails .labelName .labelColor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px 8px 5px 15px;
  background-color: var(--color-primary);
}

.configLabelContent .labelsContent .label .labelDetails .labelName p {
  margin: 0;
  font-size: 16px;
}

.configLabelContent .labelsContent .label .labelDetails p {
  margin: 0;
  margin-left: 15px;
  font-size: 12px;
}