.championsPage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
}

.championName {
  display: flex;
  align-items: center;
  flex-direction: initial;
  margin-left: 25px;
 top: 10px;
}

.championName .name {
 width: 180px;
 margin: 0 auto;
 text-align: left;
 border-radius: 6px;
 
 color: var(--color-text-contrast);
}

.image {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 10px 15px;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.championsPage .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  margin-bottom: -18px;
}

.championsPage .button h5 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text-contrast);
  margin-right: center;
  font-weight: bold;
  
}

.championsPage .button p {
  font-size: 26px;
  margin: 0;
  width: 30px;
  border-radius: 0%;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  cursor: pointer;
  position: relative;
}

.championsPage .button p:hover {
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.championsPage .championsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  

}


.championsPage .championsContent .championsConfig {
  position: relative;
  top: 5px;
}

.championsPage .championsContent .championsConfig .championsConfigParagraph {
  margin: 0;
  width: 190px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  border: 1px dotted var(--color-text-contrast);
  color: var(--color-text-contrast);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 200ms;
}

.championsPage .championsContent .championsConfig .championsConfigParagraph:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
}