.labelsPage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
}

.labelsPage .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.labelsPage .button h5 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-text-contrast);
  margin: 0 30px 0 60px;
}

.labelsPage .button p {
  font-size: 26px;
  margin: 0;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  cursor: pointer;
}

.labelsPage .button p:hover {
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.labelsPage .labelsContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.labelsPage .labelsContent .labelName p {
  margin: 15px 0;
  width: 190px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  background-color: var(--color-primary-lighter);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.labelsPage .labelsContent .labelConfig p {
  margin: 0;
  width: 190px;
  height: 30px;
  padding-top: 5px;
  border-radius: 20px;
  border: 1px dotted var(--color-text-contrast);
  color: var(--color-text-contrast);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 200ms;
}

.labelsPage .labelsContent .labelConfig p:hover {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.8);
}