.commentSpace {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}

.commentSpace .alreadyCommented {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
}

.cardBox {
  display: flex;
  margin-bottom: 50px;
}

.commentDetail {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px -3px var(--color-text-contrast);
  border-radius: 10px;
  width: 100%;
  margin-left: 20px;
}

.commentDetail .square {
  width: 18px;
  height: 18px;
  top: 12px;
  left: -9px;
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-comment-background);
}

.commentDetail .nameBox {
  background-color: var(--color-comment-background);
  border-radius: 8px 8px 0 0;
  padding: 8px 5px 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentDetail .nameBox h4 {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 20px;
}

.commentDetail .nameBox p {
  margin: 0;
  margin-left: 20px;
  font-size: 12px;
  text-align: right;
  color: var(--color-text-primary-grey);
}

.commentDetail .commentText {
  background-color: var(--color-object-background);
  overflow: auto;
  width: 100%;
  padding: 8px 10px 8px 15px;
  border-radius: 0 0 10px 10px;
  overflow: auto;
}

.commentDetail .commentText p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.commentDetail .commentText::-webkit-scrollbar-track {
  background-color: var(--color-text-primary);
  border-radius: 15px;
}

.commentDetail .commentText::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
  background: #F4F4F4;
}

.commentDetail .commentText::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 15px;
}

@media (min-width: 900px) {
  .cardBox .square {
    top: 18px;
    left: -9px;
  }

  .cardBox .commentDetail .nameBox {
    padding: 10px 5px 10px 20px;
    justify-content: left;
  }

  .cardBox .commentDetail .nameBox h4 {
    font-size: 24px;
    margin-right: 50px;
  }

  .cardBox .commentDetail .nameBox p {
    font-size: 16px;
  } 
}