@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --color-primary: #8d47b2;
  --color-primary-light: #9355b4;
  --color-primary-lighter: #b36fd8;
  --color-chocolate: #d2691e;
  --color-brown: #6C453B;
  --color-green: #1FE636;
  --color-blue: #3954eb;

  --color-text-primary: #FFFFFF;
  --color-text-primary-grey: #F0F0F7;
  --color-text-secondary: #B9B6B6;
  --color-text-contrast: #7D8084;
  --color-text-contrast-secondary: #a9a9a9;

  --color-background: #F0F0F7;
  --color-object-background: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
