@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --color-primary: #000;
  --color-primary-light: #6e7378;
  --color-primary-lighter: #6e7378;

  --color-text-primary: #FFFFFF;
  --color-text-primary-grey: #F0F0F7;
  --color-text-secondary: #B9B6B6;
  --color-text-contrast: #6e7378;
  --color-text-contrast-secondary: #70757a;

  --color-background: #F0F0F7;
  --color-object-background: #FFFFFF;
  --color-comment-background: #A39BA7;
  --color-segment-background: #e2e2e2;
}

h2 {
  font-size: 1.33em;
}

h2 {
  font-size: 1.33em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  word-break: break-all;
}
