:root {
  --color-primary: #8D47B2;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #EAEAEA;

  --color-background: #F7F7F7;
  --color-text-contrast: #7D8084;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
