.newCommentBox {
  display: flex;
  width: 100%;
  position: relative;
}

.newCommentBox .image {
  display: none;
}

.newCommentBox .square {
  display: none;
  width: 18px;
  height: 18px;
  top: 18px;
  left: 75px;
  transform: rotate(45deg);
  position: absolute;
  background-color: var(--color-comment-background);
}

.newCommentBox .commentDetails {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px -3px var(--color-text-contrast);
  border-radius: 10px;
  width: 100%;
}

.newCommentBox .commentDetails .nameBox {
  background-color: var(--color-comment-background);
  border-radius: 8px 8px 0 0;
  padding: 8px 10px 5px 15px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.newCommentBox .commentDetails .nameBox h4 {
  margin: 0;
  color: var(--color-text-primary);
  font-size: 20px;
}

.newCommentBox .commentDetails .commentArea {
  display: flex;
  flex-direction: column;
  background-color: var(--color-object-background);
  overflow: auto;
  width: 100%;
  max-height: 225px;
  padding: 10px 10px 10px 15px;
  border-radius: 0 0 10px 10px;
}

.newCommentBox .commentDetails .commentArea .textArea {
  background-color: var(--color-background);
  overflow: auto;
  width: 100%;
  height: 300px;
  padding: 10px 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  resize: none;
  font-family: Roboto;
}

.newCommentBox .commentDetails .commentArea .textArea:focus {
  outline: none;
}

.newCommentBox .commentDetails .commentArea .buttonContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.newCommentBox .commentDetails .commentArea .buttonContent button {
  width: 100px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  transition: 200ms;
  cursor: pointer;
}

.newCommentBox .commentDetails .commentArea .buttonContent button:focus {
  outline: none;
}

.newCommentBox .commentDetails .commentArea .buttonContent .cancelButton, 
.submitButton, 
.logoutButton {
  background-color: var(--color-object-background);
  color: var(--color-primary);
  position: relative;
}

.newCommentBox .commentDetails .commentArea .buttonContent .cancelButton::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 2px;
  left: 20px;
  transition: 300ms ease;
}

.newCommentBox .commentDetails .commentArea .buttonContent .cancelButton:hover::after {
  width: 50px;
  transition: 300ms ease;
}

.newCommentBox .commentDetails .commentArea .buttonContent .submitButton::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms ease;
}

.newCommentBox .commentDetails .commentArea .buttonContent .submitButton:hover::after {
  width: 90px;
  transition: 300ms ease;
}

.newCommentBox .commentDetails .commentArea .buttonContent .loginButton {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.newCommentBox .commentDetails .commentArea .buttonContent .loginButton:hover {
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

.newCommentBox .commentDetails .commentArea .buttonContent .logoutButton::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  bottom: 2px;
  left: 20px;
  transition: 300ms ease;
}

.newCommentBox .commentDetails .commentArea .buttonContent .logoutButton:hover::after {
  width: 53px;
  transition: 300ms ease;
}

@media (min-width: 600px) {
  .newCommentBox .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 58px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    margin: 0 45px 0 20px;
  }

  .newCommentBox .square {
    top: 18px;
    left: 105px;
    display: inline-block;
  }
}

@media (min-width: 900px) {
  .newCommentBox {
    width: 100%;
    margin-left: 0;
  }
  
  .newCommentBox .image {
    width: 56px;
    margin: 0 45px 0 40px;
  }

  .newCommentBox .square {
    left: 121px;
  }

  .newCommentBox .commentDetails .nameBox {
    padding-left: 20px;
    justify-content: left;
  }

  .newCommentBox .commentDetails .nameBox h4 {
    font-size: 24px;
    margin-right: 30px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent button {
    font-size: 16px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .loginButton {
    margin-left: 15px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .submitButton, 
  .newCommentBox .commentDetails .commentArea .buttonContent .loginButton {
    width: 200px;
    height: 40px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .cancelButton::after {
    bottom: 0;
    left: 23px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .cancelButton:hover::after {
    width: 58px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .submitButton::after {
    bottom: 3px;
    left: 15px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .submitButton:hover::after {
    width: 170px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .logoutButton::after {
    bottom: 0;
    left: 20px;
  }

  .newCommentBox .commentDetails .commentArea .buttonContent .logoutButton:hover::after {
    width: 63px;
  }
}

@media (min-width: 1200px) {
  .newCommentBox .image {
    width: 54px;
  }

  .newCommentBox .square {
    left: 124px;
  }
}


@media (min-width: 1500px) {
  .newCommentBox .image {
    width: 52px;
  }
}